.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 50px;
  background: #fff;

  .nav-title {
    font-family: 'title-font';
    color: #555;
  }

  .time {
    font-family: Digital-7 Mono;
    font-size: 14px;
    letter-spacing: 1.1px
  }
}


@media screen and (max-width: 480px) {
  .time {
    display: none;
  }
}
