name: buildAndDeploy
on:
  push:
    branches: 
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # 我们选择使用最新的ubuntu系统
    steps:
    - name: checkout
      uses: actions/checkout@master # 将代码拷贝到虚机中
      with: 
        persist-credentials: false
    - name: Install and Build
      run: |
        npm install
        npm run build
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@master 
      env:
        ACCESS_TOKEN: ${{ secrets.TOKEN }}
        BRANCH: gh-pages 
        FOLDER: dist 
        repository-name: sunupdong/sunupdong.github.io
